PYTHON_VERSION=3.12.8
# ห้ามใส่ token/webhook จริงลง Git หรือส่งให้คนอื่น
DISCORD_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
WEBHOOK_URL=PUT_YOUR_DISCORD_WEBHOOK_URL_HERE
ALLOWED_GUILDS=1420339720277463112,1441795602550882334
MAX_PARALLEL_JOBS=1
